# --- JAVA & MAVEN ---
/target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
/.mvn/
!/.mvn/wrapper

# --- IDE (IntelliJ, VSCode, ecc.) ---
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
.DS_Store

# --- DB & LOGS (Fondamentale per il tuo progetto) ---
*.db
*.db-journal
*.log

# --- Altri ---
.help/